{% extends 'shop/basic.html' %} 
{% block title%} About Us{% endblock %}

{% block css %}

.jumbotron {
  position:relative;
  overflow:hidden;
}

.jumbotron .container {
  position:relative;
  z-index:2;

  background:rgba(0,0,0,0.2);
  padding:2rem;
  border:1px solid rgba(0,0,0,0.1);
  border-radius:3px;
}

.jumbotron-background {
  object-fit:cover;
  font-family: 'object-fit: cover;';
  position:absolute;
  top:0;
  z-index:1;
  width:100%;
  height:100%;
  opacity:0.5;
}

img.blur {
	-webkit-filter: blur(4px);
	filter: blur(4px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');

}

{% endblock %}

{% block body %}

{% load static %}


<main role="main">
	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron jumbotron-fluid bg-dark">
		<div class="jumbotron-background">
			<img src='/media/shop/images/nature.jpeg' class="blur ">
			</div>
			<div class="container text-white">
				<h1 class="display-4">My Shopping Cart!</h1>
				<p>Welcome to My Shopping Cart, your number one source for all products, ie: mobiles, electronics, laptops etc. We're dedicated to giving you the very best of products, with a focus on three characteristics, ie: dependability, customer service and uniqueness. Founded in 2019 by Adarsh, My Shopping Cart has come a long way from its beginnings in a home. When Adarsh first started out, his passion for web development, drove him to action, ie: do intense research, quit his day job, and gave him the impetus to turn hard work and inspiration into to a booming online store. We now serve customers all over India, and are thrilled to be a part of the awesome community, ie: quirky, eco-friendly, fair trade wing of the online Shopping industry. We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.</p>
				<a class="btn btn-primary btn-lg" href="/shop/contact" role="button">Contact Us</a>
			</div>
			<!-- /.container -->
		</div>
		<div class="container">
			<!-- Example row of columns -->
			<div class="row">
				<div class="col-md-4">
					<h2>Facebook</h2>
					<p>Facebook, Inc. is an American online social media and social networking service company based in Menlo Park, California. It was founded by Mark Zuckerberg, along with fellow Harvard College students and roommates Eduardo Saverin, Andrew McCollum, Dustin Moskovitz and Chris Hughes.</p>
					<p>
						<a class="btn btn-warning" href="https://www.facebook.com/" role="button">View Site</a>
					</p>
				</div>
				<div class="col-md-4">
					<h2>Instagram</h2>
					<p>Instagram from Facebook or simply Instagram is a photo and video-sharing social networking service owned by Facebook, Inc. It was created by Kevin Systrom and Mike Krieger, and launched in October 2010 exclusively on iOS.Users can browse other users' content by tags and locations, and view trending content.</p>
					<p>
						<a class="btn btn-warning" href="https://www.instagram.com/" role="button">View Site</a>
					</p>
				</div>
				<div class="col-md-4">
					<h2>Twitter</h2>
					<p>Twitter is a microblogging and social networking service on which users post and interact with messages known as "tweets". Tweets were originally restricted to 140 characters, but on November 7, 2017, this limit was doubled to 280 for all languages except Chinese, Japanese, and Korean.</p>
					<p>
						<a class="btn btn-warning" href="https://twitter.com/" role="button">View Site</a>
					</p>
				</div>
			</div>
			<hr>
			</div>
			<!-- /container -->
		</main>

{% endblock %}

{% block js %}


<script>

// Find out the cart items from localStorage

if(localStorage.getItem('cart') == null){
var cart = {};
}
else
{
cart = JSON.parse(localStorage.getItem('cart'));
updateCart(cart);
}

function updateCart(cart) {
    var sum = 0;
    for (var item in cart) {
        sum = sum + cart[item][0];
    }
    localStorage.setItem('cart', JSON.stringify(cart));
    document.getElementById('cart').innerHTML = sum;
}


$('#popcart').click(function(){
document.location = "/shop/checkout";
});

</script>
{% endblock %}